<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Back to the School</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <style>
            p {
                margin: 20px 0px;
            }

            .headline {
                float: right;
                padding-right: 30px;
            }

            h1 {
                padding-top: 50px;
            }

            h3 {
                padding-top: 50px;
            }

            .header {
                padding-top: 15px;
                padding-bottom: 15px;

            }
        </style>

        <script>
            function cardIssue() {
                confirm("발급받으시겠습니까?");
            }
        </script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Back to the School : Home</h1>
                    <div class="header">
                        <a class="headline" onclick="logOut()">로그아웃</a>
                        <a class="headline" href="my_page.html">마이페이지</a>
                    </div>
                    <p></p>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home_elementary">초등학교</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#home_middle">중학교</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#home_high">고등학교</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home_elementary">
                            <h3>초등학교 검색</h3>
                            <p>검색결과에 따라 초등학교 이름이 노출될겁니다</p>
                            <p>검색결과에 따라 초등학교 위치가 노출될 겁니다</p>
                            <p>검색결과에 따라 초등학교 이름이 노출될 겁니다</p>
                            <p>유저의 이름이 노출될 겁니다</p>
                            <p>유저가 졸업년도를 입력할 겁니다.</p>
                            <button onclick="cardIssue()">발급받기</button>
                        </div>
                        <div class="tab-pane fade" id="home_middle">
                            <h3>중학교 검색</h3>
                            <p>검색결과에 따라 초등학교 이름이 노출될겁니다</p>
                            <p>검색결과에 따라 초등학교 위치가 노출될 겁니다</p>
                            <p>검색결과에 따라 초등학교 이름이 노출될 겁니다</p>
                            <p>유저의 이름이 노출될 겁니다</p>
                            <p>유저가 졸업년도를 입력할 겁니다.</p>
                            <button onclick="cardIssue()">발급받기</button>
                        </div>
                        <div class="tab-pane fade" id="home_high">
                            <h3>고등학교 검색</h3>
                            <p>검색결과에 따라 초등학교 이름이 노출될겁니다</p>
                            <p>검색결과에 따라 초등학교 위치가 노출될 겁니다</p>
                            <p>검색결과에 따라 초등학교 이름이 노출될 겁니다</p>
                            <p>유저의 이름이 노출될 겁니다</p>
                            <p>유저가 졸업년도를 입력할 겁니다.</p>
                            <button onclick="cardIssue()">발급받기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>