<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="프란츠의 백투더스쿨"/>
        <meta property="og:description" content="내가 다니고 있는, 혹은 내가 다니고 있던 학교를 검색하고 모바일카드를 발급받아보세요!"/>
        <meta property="og:image" content="{{ url_for('static', filename='mobliecard.png') }}"/>

        <title>Back to the School</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <style>
            p {
                margin: 20px 0px;
            }

            .headline {
                float: right;
                padding-right: 30px;
            }

            h1 {
                padding-top: 50px;
            }

            h3 {
                padding-top: 10px;
            }

            .header {
                padding-top: 15px;
                padding-bottom: 15px;

            }

            .input-search {
                width: 50%;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .result-form {
                font-size: medium;
            }
        </style>

        <script>
            $(document).ready(function () {
                $('#school-name-result').empty();
            });

            function search_school() {
                $('#school-name-result').empty();
                let schoolName = $("#school-name").val();
                if (schoolName === '') {
                    alert('검색어를 입력하세요.');
                    return;
                }

                $.ajax({
                    type: "GET",
                    url: "/search",
                    data: {'schoolName': schoolName},
                    success: function (response) {
                        if (response["result"] == "success" && response["msg"].length > 0) {
                            let SchoolData = response["msg"];
                            for (let index = 0; index < SchoolData.length; index++) {
                                let name = SchoolData[index]['name'];
                                let address = SchoolData[index]['address'];
                                let latitude = SchoolData[index]['latitude'];
                                let longitude = SchoolData[index]['longitude'];
                                let resultData = `<P>학교의 이름: <span id="choice-school">${name}</span></p>
                                                  <P>학교의 주소: ${address}</p>
                                                  <p>학교의 위도: ${latitude}</p>
                                                  <p>학교의 경도: ${longitude}</p>
                                                  <button onclick="choice_school()">선택하기</button>
                                                  <hr>
                                                 `;
                                $("#school-name-result").append(resultData);
                            }

                        } else {
                            alert("검색결과가 없습니다.");
                        }
                    }
                })
            }

            function choice_school() {
                let choiceSchoolName = $("#choice-school").text();
                $('#school-name-result').empty();

                $.ajax({
                    type: "GET",
                    url: "/choice",
                    data: {'choiceSchoolName': choiceSchoolName},
                    success: function (response) {
                        if (response["result"] == "success" && response["msg"].length > 0) {
                            let choiceSchoolData = response["msg"];
                            for (let index = 0; index < choiceSchoolData.length; index++) {
                                let name = choiceSchoolData[index]['name'];
                                let address = choiceSchoolData[index]['address'];
                                let latitude = choiceSchoolData[index]['latitude'];
                                let longitude = choiceSchoolData[index]['longitude'];
                                let resultData = `<P>학교의 이름: ${name}</P>
                                                  <P>학교의 주소: ${address}</p>
                                                  <p>학교의 위도: ${latitude}</p>
                                                  <p>학교의 경도: ${longitude}</p>
                                                  <button onclick="cardIssue()">발급받기</button>
                                                  <hr>
                                                 `;
                                $("#school-name-result").append(resultData);
                            }

                        }
                    }
                })
            }


            function cardIssue() {
                confirm("발급받으시겠습니까?");
            }

            // choice_school() 함수 호출 이후 출력된 html 영역의 div 지정 + id값을 각각 주고, 해당 값을 통해 카드를 create 할 수 있는 post api와 연결해야 함

        </script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Back to the School : Home</h1>
                    <div class="header">
                        <a class="headline" onclick="logOut()">로그아웃</a>
                        <a class="headline" href="/my_page">마이페이지</a>
                    </div>
                    <p></p>
                    <input type="radio" name="chk_info" value="e_school"> 초등학교
                    <input type="radio" name="chk_info" value="m_school"> 중학교
                    <input type="radio" name="chk_info" value="h_school"> 고등학교
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home_elementary">
                            <input type="text" class="input-search" id="school-name" placeholder="학교 이름을 입력하세요">
                            <button onclick="search_school()">검색</button>
                            <h3>학교 검색 결과</h3>
                            <hr>
                            <div class="result-form" id="school-name-result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>