<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Back to the School</title>
        <link href="{{url_for('static', filename='bootstrap_mobilecard.css')}}" rel="stylesheet" id="login-css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h1>Back to the School</h1>
                    <img src="https://t1.kakaocdn.net/blockadmin/etc_franz/etc/rectangle_new.png" id="icon" alt="Icon"/>
                </div>

                <form>
                    <input type="submit" class="fadeIn fourth" value="카카오계정 로그인" onclick="login()">
                </form>
            </div>
        </div>
    </body>
</html>