<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta property="og:title" content="프란츠의 학생카드발급하기"/>
        <meta property="og:description" content="내가 다니고 있는, 혹은 내가 다니고 있던 학교를 검색하고 모바일카드를 발급받아보세요!"/>
        <meta property="og:image" content="{{ url_for('static', filename='mobliecard.png') }}"/>

        <title>Back to the School</title>
        <link href="{{ url_for('static', filename='bootstrap_mobilecard.css') }}" rel="stylesheet" id="login-css">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>


        </script>


    </head>
    <body>
        <div class="wrapper fadeInDown">
            <a id="formContent">
                <div class="fadeIn first">
                    <h3>프란츠의</h3>
                    <h2>학생카드발급하기</h2>
                    <img src="/static/mobilecard.png" id="icon" alt="Icon"/>
                </div>

                <form>
                    <a href="https://kauth.kakao.com/oauth/authorize?&response_type=code&client_id=cb3fc338e41333667d4db0691d1296ca&redirect_uri=http://franzkafka.xyz/oauth">
                    <img src="/static/kakao_login.png" value="카카오계정 로그인"> </a>
                </form>
            </div>
        </div>
    </body>
</html>